<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Review World</title>
</head>
<body>

     <header>
        
        {{#if loggedIn}}
        <a href="/">Home</a>
        <a href="/logout">Log out</a>
        {{else}}
        <a href="/login">Log in</a>
        <a href="/signup">Sign up</a>
        {{/if}}
        <input type="text" id="search" placeholder="search ">
        <button id="search-btn">Search</button>
    </header>

    <h1>Review World</h1>
    <main>
         {{{body}}}
         
    </main>
   
</body>
</html>