<div id="feed">
    {{#each reviewData}}
        <p>{{this.User.first_name}} {{this.User.last_name}} ({{this.rating}} stars)</p>
        <p>{{this.body}}</p>
    {{/each}}
</div>
<div id="search">

</div>