<h1 id="sign-up">Sign Up</h1>

<form id="signUpForm">
    <input type="text" id="firstName" placeholder="First Name">
    <input type="text" id="lastName" placeholder="Last Name">
    <input type="text" id="signUpEmail" placeholder="email" required>
    <input type="text" id="signupUsername" placeholder="Username" required>
    <input type="password" id="signUpPw" placeholder="password" required>
    <label for="showName">Share Name: </label><input type="checkbox" id="showName">
    <button>Sign Up</button>
</form>

<script src="/js/signup.js"></script>