<h1 id="sign-up">Sign Up</h1>

<form id="signUpForm">
  <div class="mb-3">
    <label class="form-label">First Name</label>
    <input type="text" class="form-control" id="firstName" aria-describedby=
  </div>
  <div class="mb-3">
    <label class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lastName" aria-describedby=
  </div>
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="text" class="form-control" id="signUpEmail"
  </div>
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input type="text" class="form-control" id="signupUsername">
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" id="signUpPw">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="showName">
    <label class="form-check-label" for="showName">Share Name</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{!-- <form id="signUpForm">
    <input type="text" id="firstName" placeholder="First Name">
    <input type="text" id="lastName" placeholder="Last Name">
    <input type="text" id="signUpEmail" placeholder="email" required>
    <input type="text" id="signupUsername" placeholder="Username" required>
    <input type="password" id="signUpPw" placeholder="password" required>
    <label for="showName">Share Name: </label><input type="checkbox" id="showName">
    <button>Sign Up</button>
</form> --}}

<script src="/js/signup.js"></script>