<h2>Update your profile</h2>
<form id="update-profile">
    <p>Change username</p>
        {{userData.showname}}
            {{userData.username}}
    <p>Change email</p>
        {{userData.showname}}
            {{userData.email}}
    <p>Change name</p>
        <input type="text" placeholder="new name">
    <p>Change password</p>
        <input type="text" placeholder="new password">
</form>